In [10]:
import sqlite3
import csv
from pprint import pprint

In [11]:
# Connect to the database (if it doesn't exist, it will be created in the folder that your notebook is in):
sqlite_file = 'delhi.db'    # name of the sqlite database file

# Connect to the database
conn = sqlite3.connect(sqlite_file)

In [12]:
# Get a cursor object
cur = conn.cursor()

## Create the table nodes

In [13]:
# Create the table nodes, specifying the column names and data types:
cur.execute(''' CREATE TABLE nodes(id INTEGER, lat INTEGER, lon INTEGER, user TEXT, uid INTEGER, version INTEGER, changeset TEXT,
timestamp TEXT)
''')

# commit the changes
conn.commit()

# Read in the csv file as a dictionary, format the
# data as a list of tuples:
with open('nodes.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'].decode("utf-8"), i['lat'].decode("utf-8"), i['lon'].decode("utf-8"), i['user'].decode("utf-8"),
             i['uid'].decode("utf-8"), i['version'].decode("utf-8"), i['changeset'].decode("utf-8"), 
              i['timestamp'].decode("utf-8")) 
               
             for i in dr]
    
# insert the formatted data
cur.executemany("INSERT INTO nodes(id, lat, lon, user, uid, version, changeset, timestamp) VALUES (?, ?, ?, ?, ?, ?, ?, ?);", 
                to_db)
# commit the changes
conn.commit()

#check that the data imported correctly

cur.execute('SELECT * FROM nodes LIMIT 3')
all_rows = cur.fetchall()
print('1):')
pprint(all_rows)

1):
[(16173236,
  28.6141793,
  77.2022662,
  u'rene78',
  257555,
  54,
  u'51057587',
  u'2017-08-12T13:26:29Z'),
 (47432940,
  28.7358314,
  77.1578638,
  u'Oberaffe',
  56597,
  6,
  u'12209101',
  u'2012-07-13T17:31:55Z'),
 (58043990,
  28.5421965,
  77.1675024,
  u'H_S_Rai',
  5456,
  1,
  u'505778',
  u'2007-09-23T02:35:38Z')]

## Create the table nodes_tags

In [14]:
# Create the table, specifying the column names and data types:
cur.execute(''' CREATE TABLE nodes_tags(id INTEGER, key INTEGER, value TEXT, type TEXT) ''')

# commit the changes
conn.commit()

# Read in the csv file as a dictionary, format the
# data as a list of tuples:

with open('nodes_tags.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'].decode("utf-8"), i['key'].decode("utf-8"), i['value'].decode("utf-8"), i['type'].decode("utf-8")) 
               for i in dr]
    
# insert the formatted data
cur.executemany("INSERT INTO nodes_tags(id, key, value, type) VALUES (?, ?, ?, ?);", to_db)
# commit the changes
conn.commit()

#check that the data imported correctly

cur.execute('SELECT * FROM nodes_tags LIMIT 5')
all_rows = cur.fetchall()
print('1):')
pprint(all_rows)

1):
[(16173236, u'admin_level', u'6', u'regular'),
 (16173236, u'capital', u'yes', u'regular'),
 (16173236, u'is_capital', u'country', u'regular'),
 (16173236, u'is_in', u'National Capital Region, NCR, India', u'regular'),
 (16173236, u'continent', u'Asia', u'is_in')]

## Create the table ways

In [15]:
# Create the table, specifying the column names and data types:
cur.execute(''' CREATE TABLE ways(id INTEGER, user TEXT, uid INTEGER, version INTEGER, changeset TEXT,
timestamp TEXT) ''')

# commit the changes
conn.commit()

# Read in the csv file as a dictionary, format the
# data as a list of tuples:

with open('ways.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'].decode("utf-8"), i['user'].decode("utf-8"), i['uid'].decode("utf-8"), i['version'].decode("utf-8"),
             i['changeset'].decode("utf-8"), i['timestamp'].decode("utf-8")) 
               for i in dr]

    
# insert the formatted data
cur.executemany("INSERT INTO ways(id, user, uid, version, changeset, timestamp) VALUES (?, ?, ?, ?, ?, ?);", to_db)
# commit the changes
conn.commit()

#check that the data imported correctly

cur.execute('SELECT * FROM ways LIMIT 5')
all_rows = cur.fetchall()
print('1):')
pprint(all_rows)

1):
[(5873630, u'15Tr', 1987359, 78, u'36984586', u'2016-02-03T20:02:01Z'),
 (7891819, u'satyaakam', 81656, 2, u'18193716', u'2013-10-05T11:24:44Z'),
 (7892104, u'H_S_Rai', 5456, 1, u'505778', u'2007-09-23T02:41:01Z'),
 (7892285, u'bindhu', 2901516, 6, u'39900122', u'2016-06-09T06:57:30Z'),
 (7892369, u'bindhu', 2901516, 3, u'39877868', u'2016-06-08T06:58:15Z')]

## Create the table ways_nodes

In [16]:
# Create the table.
#Before you (re)create the table, you will have to drop the table if it already exists: 

cur.execute('''DROP TABLE IF EXISTS ways_nodes''')
conn.commit()

# Create the table, specifying the column names and data types:
cur.execute(''' CREATE TABLE ways_nodes(id INTEGER, node_id INTEGER, position INTEGER) ''')

# commit the changes
conn.commit()

# Read in the csv file as a dictionary, format the
# data as a list of tuples:

with open('ways_nodes.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'].decode("utf-8"), i['node_id'].decode("utf-8"), i['position'].decode("utf-8")) 
               for i in dr]

# insert the formatted data
cur.executemany("INSERT INTO ways_nodes(id, node_id, position) VALUES (?, ?, ?);", to_db)
# commit the changes
conn.commit()

#check that the data imported correctly

cur.execute('SELECT * FROM ways_nodes LIMIT 5')
all_rows = cur.fetchall()
print('1):')
pprint(all_rows)

1):
[(5873630, 838393152, 0),
 (5873630, 838393223, 1),
 (5873630, 938622356, 2),
 (5873630, 427851220, 3),
 (5873630, 250075337, 4)]

## Create the table ways_tags

In [17]:
# Create the table.
#Before you (re)create the table, you will have to drop the table if it already exists: 

cur.execute('''DROP TABLE IF EXISTS ways_tags''')
conn.commit()

# Create the table, specifying the column names and data types:
cur.execute(''' CREATE TABLE ways_tags(id INTEGER, key INTEGER, value TEXT, type TEXT) ''')

# commit the changes
conn.commit()

# Read in the csv file as a dictionary, format the
# data as a list of tuples:

with open('ways_tags.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'].decode("utf-8"), i['key'].decode("utf-8"), i['value'].decode("utf-8"), i['type'].decode("utf-8")) 
               for i in dr]

    
    
# insert the formatted data
cur.executemany("INSERT INTO ways_tags(id, key, value, type) VALUES (?, ?, ?, ?);", to_db)
# commit the changes
conn.commit()


#check that the data imported correctly

cur.execute('SELECT * FROM ways_tags LIMIT 5')
all_rows = cur.fetchall()
print('1):')
pprint(all_rows)

1):
[(5873630, u'name', u'Mahatma Gandhi Road', u'regular'),
 (5873630, u'oneway', u'yes', u'regular'),
 (5873630, u'highway', u'primary', u'regular'),
 (5873630, u'int_ref', u'AH1;AH2', u'regular'),
 (7891819,
  u'name',
  u'School of Computional and Integrative Sciences',
  u'regular')]

In [18]:
# close the connection:

conn.close()